:root {
    --header-idle-padding: var(--header-margin);
    --header-link-backdrop-brightness: 92.5%;
    --header-link-border-color: rgba(0, 0, 0, 0.05);
    --header-link-height: 44px;
    --header-inner-shadow-color: rgba(255, 255, 255, 0.5);
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --header-link-backdrop-brightness: 185%;
        --header-link-border-color: rgba(255, 255, 255, 0.05);
        --header-inner-shadow-color: transparent;
    }
}

header {
    display: flex;
    justify-content: start;
    margin: 0 auto;
    max-width: calc(768px + (2 * var(--header-margin)) + (2 * var(--header-idle-padding)));
    left: 0;
    padding: calc(env(safe-area-inset-top) + var(--header-margin)) calc(env(safe-area-inset-right) + var(--header-margin)) var(--header-margin) calc(env(safe-area-inset-left) + var(--header-margin));
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 100;
}

nav {
    align-items: start;
    border-radius: calc(var(--header-length) / 2);
    display: block;
    height: var(--header-length);
    margin: 0 var(--header-idle-padding);
    overflow: hidden;
    position: relative;
    transition: height var(--default-animation), margin var(--default-animation);
    width: 100%;
}

nav::before {
    background-color: var(--background-color);
    border-radius: calc((var(--header-length) - 2px) / 2);
    box-shadow: 0px 0px 0px 1px var(--header-inner-shadow-color) inset;
    content: '';
    display: flex;
    height: calc(100% - 2px);
    outline: 1px solid var(--border-color);
    position: absolute;
    top: 1px;
    left: 1px;
    pointer-events: none;
    width: calc(100% - 2px);
    z-index: -1;
}

nav::after {
    backdrop-filter: saturate(2) blur(15px);
    content: '';
    display: flex;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 100%;
    z-index: -2;
}

.nav-title {
    display: flex;
    height: var(--header-length);
    width: 100%;
}

.nav-small-content {
    display: flex;
    flex-direction: column;
    opacity: 0;
    padding: 4px 0;
    transition: opacity var(--default-animation), visibility 0s linear var(--default-animation-timing);
    visibility: hidden;
    width: 100%;
    pointer-events: none;
    touch-action: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

.nav-small-content::before {
    background-color: var(--border-color);
    border-radius: 0.5px;
    box-sizing: border-box;
    content: '';
    display: block;
    height: 1px;
    margin: 0 20px;
    transform: translateY(-4px);
    width: calc(100% - 40px);
}

.nav-large-content {
    display: none;
    padding: 0 4px;
}

header a {
    display: block;
    padding: 0 20px;
    position: relative;
    width: fit-content;
}

.nav-small-content a {
    line-height: var(--header-link-height);
}

.nav-large-content a {
    line-height: var(--header-length);
}

.nav-large-content a:not(:last-child)::after {
    background-color: var(--border-color);
    box-sizing: border-box;
    border-radius: 0.5px;
    content: '';
    display: block;
    height: 24px;
    width: 1px;
    margin: 16px 0;
    position: absolute;
    top: 0;
    right: -0.5px;
}

.nav-large-content a::before {
    width: 100%;
}

.home {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 100%;
    margin-right: auto;
    opacity: 1;
    padding: 0 20px;
    transition: opacity var(--default-animation);
}

.home * {
    cursor: pointer;
    /* user-select: none; */
    -webkit-user-drag: none;
    /* -webkit-user-select: none; */
}

.home:hover {
    opacity: 0.6;
    transition: opacity var(--fast-animation);
}

.menu {
    box-sizing: content-box;
    height: var(--header-length);
    position: relative;
    transition: width var(--default-animation);
    width: calc(var(--header-length) + 4px);
}

.menu::before,
.menu::after {
    background-color: var(--primary-color);
    border-radius: 1px;
    content: "";
    display: flex;
    height: 2px;
    margin: auto;
    position: absolute;
    transition: transform var(--default-animation), width var(--default-animation);
    width: 20px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.menu::before {
    transform: translateY(-4px);
}

.menu::after {
    transform: translateY(4px);
}

.menu[disabled] {
    cursor: default;
}

.menu[disabled]::before,
.menu[disabled]::after {
    background-color: var(--primary-disabled-color);
}

.header-overlay {
    display: flex;
    height: 100%;
    left: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    width: 100%;
    z-index: -10;
}

body > :not(header, .header-overlay) {
    opacity: 1;
    transition: opacity var(--default-animation);
}

@media screen and not (min-width: 640px) {
    body[header-expanded] {
        background-color: var(--dim-page-color);
    }

    body[header-expanded] nav {
        height: calc(var(--header-length) + (var(--header-link-height) * 3) + 12px);
        margin: 0;
        transition: height var(--bouncy-animation), margin var(--bouncy-animation);
    }

    body[header-expanded] .nav-small-content {
        opacity: 1;
        transition-delay: 0s;
        visibility: visible;
        pointer-events: auto;
        touch-action: auto;
        user-select: auto;
        -webkit-user-drag: auto;
        -webkit-user-select: auto;
    }

    body[header-expanded] .menu {
        width: calc(var(--header-length) + 12px);
    }

    body[header-expanded] .menu::before {
        transform: translateX(6px) rotate(-45deg);
        width: 22px;
    }

    body[header-expanded] .menu::after {
        transform: translateX(6px) rotate(45deg);
        width: 22px;
    }

    body[header-expanded] > :not(header, .header-overlay) {
        opacity: 0.3333;
        pointer-events: none;
        touch-action: none;
        user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
    }

    body[header-expanded] > .header-overlay {
        pointer-events: all;
        z-index: 10;
    }
}

@media screen and (min-width: 640px) {
    .nav-small-content {
        display: none;
    }

    .nav-large-content {
        display: flex;
    }

    .menu {
        display: none;
    }
}