@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100, "YTLC" 500;
    line-height: 1.35;
    -webkit-text-size-adjust: none;
}

body {
    background-color: var(--page-color);
    color: var(--primary-color);
    font-size: 16px;
    margin: 0;
    transition: background-color var(--default-animation);
}

body[no-transitions] * {
    transition: none !important;
}

a {
    color: var(--primary-color);
    display: block;
    font-weight: 500;
    opacity: 1;
    text-decoration: underline solid transparent;
    transition: text-decoration-color var(--default-animation);
}

a:hover:not([disabled]) {
    text-decoration-color: currentColor;
    transition: text-decoration-color var(--fast-animation);
}

b, strong {
    font-weight: 700;
}

button {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
}

picture {
    display: flex;
}

main {
    padding-top: var(--main-top-padding);
}

section {
    display: flex;
    min-height: calc(100vh - var(--main-top-padding));
}

section.first {
    min-height: calc(85svh - var(--main-top-padding));
}

section, footer {
    margin: 0 auto;
    max-width: calc(1024px + 32px + 32px);
    padding: var(--section-vertical-padding) calc(env(safe-area-inset-right) + 20px) var(--section-vertical-padding) calc(env(safe-area-inset-left) + 20px);
    text-align: center;
}

footer * {
    line-height: 36px;
}

.footer-links {
    column-gap: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 8px;
    width: fit-content;
}

.footer-copyright {
    color: var(--secondary-color);
}

.button {
    align-items: center;
    border-radius: calc(var(--control-length) / 2);
    display: flex;
    height: var(--control-length);
    line-height: 1.2;
    padding: 0 var(--button-padding);
    position: relative;
    width: fit-content;
}

.button::before {
    backdrop-filter: saturate(2) blur(15px);
    background-color: var(--background-color);
    border-radius: calc((var(--control-length) - 2px) / 2);
    box-shadow: 0px 0px 0px 1px var(--header-inner-shadow-color) inset;
    content: '';
    display: flex;
    height: calc(100% - 2px);
    outline: 1px solid var(--border-color);
    position: absolute;
    top: 1px;
    left: 1px;
    width: calc(100% - 2px);
    z-index: -1;
}

.button.prominent {
    background-color: var(--brand-color);
    border: 1px solid rgba(0, 0, 0, 0.125);
    color: white;
}

.button.prominent::before {
    display: none;
}

.section-content {
    margin: auto;
}

.section-title {
    /* font-size: max(40px, min(12.5vw, 15vh, 80px)); */
    font-size: max(40px, min(7.5vw, 12.5vh, 64px));
    line-height: 1;
    margin: 24px 0;
    max-width: 892px;
    text-wrap: balance;
}

.section-detail {
    font-size: 20px;
    margin: 8px 0;
    max-width: 892px;
    text-wrap: balance;
}

.section-detail + .section-detail {
    margin-top: 20px;
}

.section-links {
    display: flex;
    gap: 12px;
    justify-content: center;
    margin: 32px 0;
}

@media screen and (min-width: 640px) {
    .section-detail {
        font-size: 24px;
    }
}

.noscript {
    background-color: rgb(255, 45, 85);
    color: white;
    font-weight: 600;
    padding: 16px calc(env(safe-area-inset-right) + 16px) 16px calc(env(safe-area-inset-left) + 16px);
    text-align: center;
}

.background-image {
    color: var(--light-color);
    position: relative;
}

.background-image .section-title {
    text-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
}

.background-image .section-detail {
    text-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
}

.background-image > .background-content {
    background-position: center;
    background-size: cover;
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.background-image.background-1 > .background-content {
    background-image: linear-gradient(0deg, rgba(0 0 0 / 0.5), rgba(0 0 0 / 0.25)), url(/assets/Background1.jpg);
}

.background-image.background-2 > .background-content {
    background-image: linear-gradient(0deg, rgba(0 0 0 / 0.4), rgba(0 0 0 / 0.2)), url(/assets/Background2.jpg);
}

.people {
    display: flex;
    gap: calc(var(--medium-avatar-length) * 0.15);
    margin: 32px 0;
    justify-content: center;
}
.person-section + .person-section {
    margin-top: 48px;
}
.person {
    border-radius: 50%;
    height: var(--medium-avatar-length);
    margin: 0;
    outline: 1px solid var(--border-color);
    outline-offset: -1px;
    width: var(--medium-avatar-length);
}
.person-section .person {
    height: var(--large-avatar-length);
    width: var(--large-avatar-length);
}
.person-title {
    font-size: 24px;
}
.person-subtitle {
    color: var(--secondary-color);
    font-size: 20px;
}
.person-detail {
    font-size: 20px;
    margin: 8px 0;
    max-width: 744px;
    text-align: start;
}

hgroup {
    margin: 8px 0 24px 0;
}
hgroup * {
    margin: 0;
}

p {
    text-wrap-style: pretty;
}

form {
    margin: 32px auto;
    max-width: 448px;
    text-align: start;
}

label {
    display: block;
    line-height: inherit;
    margin: 16px 16px 4px 16px;
    width: fit-content;
}

form button, input, textarea {
    background-color: var(--background-color);
    border: none;
    box-shadow: 0px 0px 0px 1px var(--border-color) inset;
    border-radius: 24px;
    color: var(--primary-color);
    display: block;
    font-size: 16px;
    line-height: 20px;
    padding: 14px 16px;
}

input {
    height: var(--control-length);
}

form button {
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
    padding-left: 32px;
    padding-right: 32px;
}

form button[type=submit] {
    background-color: var(--brand-color);
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.125) inset;
    color: white;
    margin-top: 24px;
    text-decoration: underline solid transparent;
    transition: text-decoration-color var(--default-animation);
}

form button[type=submit]:hover {
    text-decoration-color: currentColor;
    transition: text-decoration-color var(--fast-animation);
}

form:has(:invalid) button[type="submit"] {
    cursor: not-allowed;
    opacity: 0.25;
    text-decoration-color: transparent;
}

input, textarea {
    min-width: 100%;
}

input:user-invalid, textarea:user-invalid {
    outline: 2px solid var(--red-color);
    outline-offset: -1px;
}

input:focus-visible, textarea:focus-visible {
    outline: 2px solid var(--brand-color);
    outline-offset: -1px;
}

textarea {
    field-sizing: content;
    resize: none;
    min-height: calc((20px * 3) + 14px + 14px);
}

.secondary {
    color: var(--secondary-color);
}